<% content_for :head do %>
  <meta http-equiv="refresh" content="60">
<% end %>
<%= content_for(:body_attributes) do %> data-no-turbolink <% end %>

<div class="jumbotron center">
  <h1>Official Results</h1>
  <br />
  <p>These results are not visible publicly until you
     <%= link_to "publish them", challenges_path %>.</p>
</div>

<% @challenges.order(:time_allowed).each do |challenge| %>
  <%= render "results_table", challenge: challenge %>
<% end %>
