<div class="jumbotron center">
  <h1>Official Results</h1>
  <br />
  <p>These results are not visible publicly until you
     <%= link_to "publish them", challenges_path %>.</p>
</div>

<% @challenges.order(:time_allowed).each do |challenge| %>
  <%= render "results_table", challenge: challenge %>
<% end %>
