<% content_for :head do %>
  <meta http-equiv="refresh" content="600">
<% end %>
<%= content_for(:body_attributes) do %> data-no-turbolink <% end %>

<div class="jumbotron center">
  <h1>Official Results <%= Time.now.year %></h1>
</div>

<% @challenges.order(:time_allowed).each do |challenge| %>
  <% if challenge.published? %>
    <%= render "results_table", challenge: challenge %>
  <% end %>
<% end %>
