<div class="jumbotron center">
  <h1>Official Results <%= Time.now.year %></h1>
</div>

<% @challenges.order(:time_allowed).each do |challenge| %>
  <% if challenge.published? %>
    <%= render "results_table", challenge: challenge %>
  <% end %>
<% end %>
