<% provide(:title, "About the Challenge") %>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <p>The Sodbury Challenge is an overnight orienteering exercise held in
    the Sodbury/Wickwar/Rangeworthy area of South Gloucestershire. The event
    is open to all Scouts, Explorers, Guides, Network and Leaders.</p>

    <p>The Challenge consists of a 5 and an 8 hour exercise with the winning
    team in each section being the team gaining the most points in the
    allotted time. The 5 hour exercise is open to ages up to 14, the 8 hour
    exercise is open to ages 14 and above. If you are under 14, you may enter
    either exercise, those 14 and above must enter the 8 hour exercise.</p>

    <p>We also allow inexperienced teams and non-competitive teams who just
    want to take part, usually with a leader to help.</p>

    <p><strong>5 HOUR</strong> &ndash; A five hour exercise for teams of
    3&ndash;5 members. First team out at 6pm and then the rest at 10 minute
    intervals.</p>

    <p><strong>8 HOUR</strong> &ndash; An eight hour exercise for teams of
    3&ndash;5 members. First team out at 10pm and then the rest at 15
    minute intervals.</p>

    <p>This year's event will take place on Saturday 14<sup>th</sup>
    October 2023.</p>
  </div>
</div>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="panel panel-danger">
      <div class="panel-heading">
        <h4 class="panel-title">Note</h4>
      </div>
      <div class="panel-body bold">
        All teams entering the competition should be entering their own
        activity notification form to the relevant ADC.
      </div>
    </div>
  </div>
</div>

<div class="row vspace">
  <div class="col-md-10 col-md-offset-1">
    <p>
      For more details or to make enquiries about the event please <a href="mailto:&#115;&#111;&#100;&#098;&#117;&#114;&#121;&#099;&#104;&#097;&#108;&#108;&#101;&#110;&#103;&#101;&#064;&#099;&#104;&#105;&#112;&#112;&#105;&#110;&#103;&#115;&#111;&#100;&#098;&#117;&#114;&#121;&#115;&#099;&#111;&#117;&#116;&#115;&#046;&#111;&#114;&#103;&#046;&#117;&#107;">e&dash;mail us</a>.
    </p>
  </div>
</div>
