<div class="jumbotron center">
  <h1>Previous Results</h1>
</div>

<div class="row">
  <% @challenges.each do |date, challenge| %>
    <%= link_to year_archive_path(year: date.year)  do %>
      <div class="col-md-6">
        <div class="well well-lg">
          <h3 class="center"><%= date.year %></h3>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

