<% provide(:title, "Frequently Asked Questions") %>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h4 class="panel-title">Information</h4>
      </div>
      <div class="panel-body">
        <h4>
          Please read these frequently asked questions and if you have any
          further questions, <a href="mailto:&#115;&#111;&#100;&#098;&#117;&#114;&#121;&#099;&#104;&#097;&#108;&#108;&#101;&#110;&#103;&#101;&#064;&#099;&#104;&#105;&#112;&#112;&#105;&#110;&#103;&#115;&#111;&#100;&#098;&#117;&#114;&#121;&#115;&#099;&#111;&#117;&#116;&#115;&#046;&#111;&#114;&#103;&#046;&#117;&#107;">e&dash;mail us</a>.
        </h4>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <p><strong>Where is the event held?</strong></p>
    <p>
      The event is run from 1st Chipping Sodbury Scout Group&#39;s
      HQ &#40;BS37 6PQ&#41; and the teams will be navigating the local area.
    </p>

    <p><strong>How are points scored?</strong></p>
    <p>
      Each team is given a sheet of checkpoints, each checkpoint earns
      points with its difficulty&#47;distance determining the value. To earn
      the points, the team will have to visit the checkpoint and stamp
      their scorecard. Both courses have bonus points available for finishing
      and phoning&#45;in on time. In the 8-hour course, there are sometimes bonus
      points available for visiting specific combinations of checkpoints.
    </p>

    <p><strong>Where are checkpoints located?</strong></p>
    <p>
      All checkpoints are located on a gate&#47;sign&#47;fence&#47;stile or the
      start&#47;junction of a footpath. All 5-hour checkpoints are visible
      from the road. Some 8&#45;hour checkpoints will be located cross country.
    </p>

    <p><strong>How are teams monitored?</strong></p>
    <p>
      We have a team of marshals in vehicles, GPS trackers and the police
      are often roaming too. All event staff are first aid trained and
      equipped with radios&#47;mobiles. The event control room monitors and
      records all team locations throughout the night.
    </p>

    <p><strong>What is the half-way phone in?</strong></p>
    <p>
      Each team must make a phone call to the control room half&#45;way
      through their allotted time. The control room will record their
      position and ensure the team are happy and fit to continue.
      Failure to phone&#45;in results in disqualification.
    </p>

    <p><strong>What is a compulsory checkpoint?</strong></p>
    <p>
      This is a manned checkpoint that all teams must visit at some
      point during their allotted time, failure to do so results in
      disqualification.
    </p>

    <p><strong>What happens when a team arrives?</strong></p>
    <p>
      First stage is check&#45;in where all parent&#47;guardian&#47;leader contact
      details are checked. When the team is ready, they will move into
      kit inspection to ensure they have everything they need, and any
      extra&#47;forbidden items confiscated. Next the team will be given their
      allotted plotting time &#40;25 minutes for 5&#45;hour course and 30 minutes
      for 8&#45;hour course&#41;. They will also be reminded of the rules, how to
      stay safe and who to contact if there is a problem. After this
      time the team is transported to the start point.
    </p>

    <p><strong>What if my team starts or finishes late?</strong></p>
    <p>
      Our website is updated with live event timings so that
      parents&#47;guardians&#47;leaders can monitor their expected finish
      time. Note &#45; teams can finish up to 30 minutes after their due
      finish time, after this time they are disqualified and picked up.
    </p>

    <p><strong>Can we see the course?</strong></p>
    <p>
      If a leader would like to see the course during the event,
      you may join an event marshal. Please speak to us on the night
      to arrange.
    </p>

    <p><strong>Which section should we enter?</strong></p>
    <p>
      Teams aged up to 14 can enter either exercise, but if aged older
      you must enter the 8&#45;hour. It is down to the leader&#39;s judgement
      on the team&#39;s navigation ability as to whether teams aged under 14
      enter the 8&#45;hour exercise. We can also allow teams to enter
      non&#45;competitively.
    </p>

    <p><strong>Is food provided on the night?</strong></p>
    <p>
      Yes, food and drinks are provided for all teams when they have
      finished the exercise.  This is included in the entry fee.
      Please ensure you complete any dietary
      requirements on the entry form.
    </p>

    <p><strong>Are there exceptions to the kit list for medical reasons?</strong></p>
    <p>
      Yes, if a team member has a medical condition that requires them to carry specific items,
      please ensure this is noted on the entry form.  Examples of this include additional
      phones for blood sugar or epilepsy monitoring.
    </p>

    <p><strong>Do we need to submit an activity notification?</strong></p>
    <p>
      Yes, all teams entering the competition must submit their own
      activity notification.
    </p>

    <p><strong>Does there need to be a leader present throughout the night?</strong></p>
    <p>
      No, but the leader in charge must be contactable for the duration of the event.  Some
      leaders choose to stay in our HQ and others go home.
    </p>
  </div>
</div>
