<% provide(:title, "Challenge Kit List") %>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <p>Please ensure you have the following kit with you. You will have a kit inspection before starting the exercise.</p>

    <ul>
      <li>Ordnance Survey Map 1:25000 (Orange) Sheet ST 167 (the course can stretch anywhere between the M5 and A46)</li>
      <li>Compass</li>
      <li>Pencil and Paper</li>
      <li>Waterproof Tops and Bottoms</li>
      <li>Strong Footwear</li>
      <li>Personal First Aid Kit</li>
      <li>Torch (Handheld or Head Torch) and spare batteries</li>
      <li>1 mobile phone per team (with credit/minutes)</li>
      <li>Reflective Jackets (1 for every member)</li>
      <li>Snacks and drinks for the hike</li>
      <li>All team members should be wearing their group neckerchief at all times</li>
    </ul>

  </div>
</div>

<div class="row vspace">
  <div class="col-md-10 col-md-offset-1">
    <div class="panel panel-danger">
      <div class="panel-heading">
        <h4 class="panel-title">Note</h4>
      </div>
      <div class="panel-body bold">
        Please do not bring any other electronic devices (MP3 players, GPS etc) other than the 1 mobile phone listed above, they will be confiscated.
      </div>
    </div>
  </div>
</div>
