<% provide(:title, "Kit List") %>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <p>
      Please ensure you bring all the items listed below.
      <strong>Kit will be inspected before the exercise begins.</strong>
    </p>
  </div>
</div>

<div class="row">
  <div class="col-md-5 col-md-offset-1">
    <h3>Team Kit List</h3>
    <p>Each team must have the following:</p>
    <ul>
      <li>
        Ordnance Survey Map 1:25000 (Orange) - <strong>Sheet ST 167</strong> <br>
        (The course can stretch anywhere between the M5 and A46.)
      </li>
      <li>Waterproof map case</li>
      <li>Compass</li>
      <li>Pencils and paper</li>
      <li>
        1 mobile phone per team<br>
        (must have credit/minutes and <strong>fully</strong> charged battery)
      </li>
    </ul>
  </div>

  <div class="col-md-5">
    <h3>Individual Kit List</h3>
    <p>Each team member must have the following:</p>
    <ul>
      <li>Waterproof coat <strong>and</strong> waterproof trousers</li>
      <li>Warm clothing (including a spare jumper or fleece)</li>
      <li>Hat and gloves</li>
      <li>Strong, comfortable footwear suitable for hiking</li>
      <li>Personal first aid kit</li>
      <li>Torch (handheld or head torch) <strong>with spare batteries</strong></li>
      <li>Reflective jacket</li>
      <li>
        Snacks and sufficient liquid for the hike
        <ul>
          <li>We suggest plenty of water</li>
          <li>Up to a maximum of 1 litre of sports drink per person
        </ul>
      </li>
      <li>Rucksack suitable for carrying your kit</li>
      <li><strong>Section neckerchief - must be worn at all times</strong></li>
    </ul>
  </div>
</div>

<div class="row vspace">
  <div class="col-md-10 col-md-offset-1">
    <div class="panel panel-danger">
      <div class="panel-heading">
        <h4 class="panel-title">Important</h4>
      </div>
      <div class="panel-body bold">
        <p>Please <strong>do not</strong> bring any of the following items. They will be confiscated if found.</p>
        <ul>
          <li>Mobile phones (other than the one designated team phone)</li>
          <li>Electronic devices such as:
            <ul>
              <li>GPS devices</li>
              <li>AirTags or trackers</li>
              <li>Bluetooth Speakers</li>
            </ul>
          </li>
          <li>Energy drinks (Red Bull, Monster, Relentless etc)</li>
          <li>Penknives or multi-tools of any kind</li>
        </ul>
      </div>
    </div>
  </div>
</div>
