<% provide(:title, "Challenge Rules") %>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h4 class="panel-title">Leaders:</h4>
      </div>
      <div class="panel-body">
        <h4>Please read these rules and ensure that your teams understand them.</h4>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <ol>
      <li>All entry forms and fees must be in by the closing date (see
        <a target="_blank" href="http://www.chippingsodburyscouts.org.uk/index.php/sodbury-challenge.html">letter</a>).
      </li>

      <li>Entrants/teams must be able to read a map and understand eight-figure grid
      references, e.g. 1235-1230 (the fourth digit will be a 0 or a 5).</li>

      <li>The team and each participant must be properly equipped and dressed for the exercise.
      You will have a kit inspection prior to starting the course.  Please see the
      <%= link_to "kit list", kit_path %>.</li>

      <li>Only one mobile phone per team is permitted on the course, and this must remain
      in a bag for the duration of the exercise. They are for emergencies and calling in
      at half-time only; if they are seen to be used outside of these times the team will
      be disqualified. EE and Vodafone have good signal in the area.</li>

      <li>Entrants/teams must observe the Highway Code when on roads and the Country Code
      when travelling off road.
        <ul style="font-size: 12px;">
          <li>Noise must be kept to a minimum.</li>
          <li>Litter must be taken home.</li>
          <li>No trespassing on private property.</li>
          <li>Walk single file on the right hand side of the road/lanes, facing oncoming traffic.</li>
          <li>Torches must be used appropriately and not shone in the eyes of other road users.</li>
        </ul>
      </li>

      <li>Halfway through the exercise, teams must phone &lsquo;Control&rsquo; to report
      their position. Bonus points are allotted to those that meet the target time. Teams
      failing to phone will be disqualified.</li>

      <li>All compulsory checkpoints must be visited.</li>

      <li>Teams entered in the 5 hour exercise must travel by road and not travel cross
      country.</li>

      <li>No team shall join up with another team. Those teams found with other teams
      will be disqualified and removed from the course.</li>

      <li>Teams must walk at the pace of the slower member.</li>

      <li>Each team member must be wearing a high visibility jacket at all times when
      on the course.</li>

      <li>Points may be deducted at the discretion of the organisers for things such as
      noise, litter and inappropriate behaviour. Teams may be disqualified for serious
      breaches of the rules.</li>

      <li>No leaders or parents are permitted on the course. Any unauthorised leader or
      parent seen on the course &ndash; or talking to their teams &ndash; after checking
      in shall be construed as helping the team. The team will be disqualified. Those
      wishing to view the course may request to accompany a marshal.</li>

      <li>There is a time limit for completion of the course. Teams should return to the
      finish point by the time stated on their checkpoint form. One point will be
      deducted for every minute late up to a maximum of 30 points, whereupon the team
      will be disqualified.</li>

      <li>The H.Q. office shall be out of bounds at all times to anyone except marshals.</li>

      <li><strong>No team</strong> shall leave the course without first informing marshals on the course,
      or telephoning the control room. All entrants must let the person checking them in
      know that they are leaving after the event.</li>

      <li>The organisers reserve the right to remove teams from the course for any
      reason. The decision of the organisers shall be final.</li>
    </ol>
  </div>
</div>
