<% provide(:title, 'Manage App Users') %>

<div class="row">
  <div class="col-md-12 col-xs-12">
    <p>App users can manage the list of checkpoints, challenges and teams.
    They can also submit scores and add and remove other users.</p>
  </div>
</div>

<div class="row">
  <div class="col-md-12 col-xs-12">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>User</th>
          <th>Email Address</th>
          <th>Account Created</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <%= render @users %>
      </tbody>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-md-2">
    <%= link_to raw("<span class=\"glyphicon glyphicon-plus\"></span> New User"), new_user_path, :class=>'btn btn-block btn-success' %>
  </div>
</div>
