<% provide(:title, 'Manage App Users') %>

<p>App users can manage the list of checkpoints, routes and teams. They can
also submit scores and add and remove other users.</p>

<%= will_paginate %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>User</th>
      <th>Email Address</th>
      <th>Account Created</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <%= render @users %>
  </tbody>
</table>

<%= will_paginate %>
