<% provide(:title, "Team Tracking #{@challenge.date.year}") %>
<%= content_for(:body_attributes) do %> data-no-turbolink <% end %>

<% if logged_in? %>
 <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV["GOOGLE_MAPS_APIKEY"] %>&callback=initMap" async defer></script>
<% end %>

<div class="row">
  <div class="col-md-12">
    <p>The map below shows the checkpoints in red, start or compulsory
       checkpoints in purple and team locations in green.
       Click on a marker for more information.</p>
    <p>Click on a table row to pan to the position on the map and display
    the team's route so far.</p>
  </div>
</div>

<div class="row vspace">
  <div class="col-md-12 col-xs-12">
    <div class="alert alert-info" role="alert">
      This page will refresh automatically.
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12 col xs-12">
    <div id="map" class="vspace"></div>
  </div>
</div>

<div class="row vspace">
  <div class="col-md-12 col-xs-12 wide-table">
    <table id="team-locations" class="table table-striped locations table-hover">
      <thead>
        <tr>
          <th>Team No.</th>
          <th>GPS Fix Timestamp</th>
          <th>Latitude</th>
          <th>Longitude</th>
          <th>Speed (kph)</th>
          <th>Battery</th>
          <th>RSSI</th>
          <th>From</th>
        </tr>
      </thead>
      <tbody>
        <% # Loaded with Javascript %>
      </tbody>
    </table>
  </div>
</div>

