<% provide(:title, "#{@challenge.time_allowed} Hour Challenge #{@challenge.date.strftime('%Y')} - Statistics") %>

<%
  visited_checkpoints = []
  @challenge.teams.each do |team|
    visited_checkpoints += eval("[#{team.visited}]")
  end

  count = Hash.new(0);
  visited_checkpoints.each {|v| count[v] +=1 }
%>
<!--
<div class="row">
  <div class="col-md-12 col-xs-12 table-responsive">
    <table id="datatable" class="table table-striped">
      <thead>
        <tr>
          <th>Checkpoint</th>
          <th>Number of Visits</th>
        </tr>
      </thead>
      <tbody>
        <% @challenge.goals.each do |goal| %>
          <tr>
            <td><%= goal.checkpoint.number %></td>
            <td><%= count[goal.checkpoint.number] %></td>
          <tr>
        <% end %>
        </tr>
      </tbody>
    </table>
  </div>
</div>
-->
<div class="row">
  <div class="col-md-12 col-xs-12">
    <div id="container" style="margin: 0 auto"></div>
  </div>
</div>

<script>
$(function () {
  $('#container').highcharts({
    title: {text: ''},
    chart: {type: 'column'},
    legend: {enabled:false},
    tooltip: {enabled: false},
    exporting: {enabled: false},
    credits: {enabled: false},
    xAxis: {
      title: {
        text: 'Checkpoint'
      },
      categories: [
        <% @challenge.goals.each do |goal| %>
          <%= goal.checkpoint.number.to_s %>,
        <% end %>
      ]
    },
    yAxis: {
      title: {
        text: 'Number of Visits'
      },
      allowDecimals: false,
      tickInterval: 1
    },
    series: [{
        data: [
          <% @challenge.goals.each do |goal| %>
            [<%= count[goal.checkpoint.number].to_s %>],
          <% end %>
        ]
    }]
  });
});
</script>
